$font: Helvetica, sans-serif;
$primary-color: #EEE;
$Title-color: #AAA;
$testing-border: 1px solid #FFF;


@keyframes fadeInLogin {
    0% {
      opacity:0;
    }
    50%{
      opacity:0;
    }
    100% {
      opacity:0.6;
    }
}

@keyframes fadeInOpac {
    0% {
      opacity:0;
    }
    30%{
        opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeInOpac {
    0% {
      opacity:0;
    }
    30%{
        opacity:0;
    }
    100% {
      opacity:1;
    }
}



body {
	margin:0;
	background: darken($primary-color, 5%);
	height:100vh;
}


.TitleMainContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:50px;
	border: $testing-border;
}

.TitleMainTextContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 50px;
	color: $Title-color;
}

.SearchMainContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:20px;
	border: $testing-border;
}

.SearchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
	color: $Title-color;
}

.submitIngredient{
	width:100px;
	padding:20px;
	font-size:14px;
}

.drinksIconPicturesFlexContainer{
	display:flex;
	flex-direction: row;
	width: 70%;
	flex-wrap: wrap;
}

.drinkIconPictureContainer{

	width:380px;
	height:380px;
	border:$testing-border;
	perspective:1000;
}

.drinksMainContainer{
	margin-left: auto;
 	margin-right: auto;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.frontCard{
	position: absolute;
	border-radius: 50%;
	width:330px;
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
img {

	border-radius: 50%;
	width:330px;
  }

.backCard {

	position: absolute;
	background-color: #FFF;
	border-radius: 50%;
	width:325px;
	height:325px;
	transform: rotateY( 180deg );
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	
}

.horizontalContainer{
	display:flex;
	flex-direction: row;
	justify-content: center;
	height:325px;
}

.verticalContainer{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.flip-cards {
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height:330px;
	width:330px;
	
}

.flip-cards:hover {
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.button {
	background-color:rgb(184, 183, 183)
}


.modal-container {
	border-radius: 5px;
	height:80%;
	width: 50%;
    animation: 1s ease-out 0s fadeInOpac;
	display:flex;
	flex-direction: row;
	background-color: rgb(240, 232, 232);
}

.model-content-container {
	display:flex;
	flex-direction: column;
	font-size:16px;
	animation: 2.5s ease-out 0s fadeInOpac;
}

#modal-root {
    position: relative;
    z-index: 999;
}

.modalbackground {
    background-color: rgba(0, 0, 0, 0.753);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }